[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-autocomplete"]
	path = zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "zsh-fzf-history-search"]
	path = zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule "tmux/vim-tmux-navigator"]
	path = tmux/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
